<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="zh">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Good Thymes Virtual Grocery</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>
<body>

    <p th:text="#{home.welcome (${session.user.name})}">Welcome to our grocery store!</p>
    <br/>
    <!--/*@thymesVar id="name" type="ognl"*/-->
    <p th:text="'Hello! ' + ${name} + ' ' + ${session.user.age} + ' !'">111111</p>
    <br/>
    <p>Established locale country: <span th:text="${#locale.country}">中国</span>.</p>

    <p>Today is: <!--/*@thymesVar id="today" type="ognl"*/-->
    <span th:text="${today}">2017/7/15 22:25</span> </p>

</body>
</html>