<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="fragments/layout">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Good Thymes Virtual Grocery</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>
<body>

<div layout:fragment="prompt">
    当前位置：首页 &gt; <em>用户信息页面</em>
</div>

<div layout:fragment="content">


    <h1>用户信息</h1>

    <div th:object="${session.user}">
        <p>编号: <span th:text="*{id}">0</span> </p>
        <p>名字: <span th:text="*{name}">CycloneBoy</span> </p>
        <p>年龄: <span th:text="*{age}?: 'no age specified'">22</span> </p>
    </div>

    <p>
        <a href="../home.html" th:href="@{/}">回到首页</a>
    </p>
</div>
</body>
</html>